<div class="main-container">
    <div class="main-container__heading">Directory Structure Implementation</div>
    <div class="font-size--medium" ng-show="currPath">
        <span class="cursor pull-left" ng-click="previous()"><- Back</span>
        <span class="pull-right">PWD: {{ currPath }}</span>
    </div>
    <div class="clear" />
    <div class="font-size--medium" ng-hide="currPath">Root Directory</div>
    <button class="btn create-new-btn" ng-click="create()">Create New Directory</button>
    <div class="folder" ng-repeat="folder in currDirectory">
        <div class="folder__subfolder" ng-dblclick="next(folder)">
            <span class="folder__subfolder-name">{{ folder.name }}</span>
            <span ng-click="remove(folder, $index)">x</span>
        </div>
    </div>
</div>
