// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/* Base colors */
$color-white: #fff;
$color-gray-dark: #333;

/* Fonts */
$base-small-font: 12px;
$base-font: 14px;
$base-font-family: 'Celias';
